<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>

<hr>

Lorem ipsum dolor sit amet, consectetur <span class="highlight">highlight</span> elit. Pellentesque sollicitudin <del>barré</del> mi,
eget dignissim sem <u>souligné</u> nec. Nam a ligula rutrum, <strong>bold</strong> lectus in, condimentum erat.
Fusce <em>italic</em> odio vitae laoreet. <u class="strikethrough bold italic highlight">Souligné barré gras italic.</u>
Aenean mauris arcu, <span class="highlight smallText">small text</span> congue vitae, interdum dictum leo. <span class="highlight bigText">Big text</span> mauris, interdum aliquam leo euismod at.

<hr>

<p class="text-primary">.text-primary</p>
<p class="text-secondary">.text-secondary</p>
<p class="text-success">.text-success</p>
<p class="text-danger">.text-danger</p>
<p class="text-warning">.text-warning</p>
<p class="text-info">.text-info</p>
<p class="text-light bg-dark">.text-light</p>
<p class="text-dark">.text-dark</p>
<p class="text-muted">.text-muted</p>
<p class="text-white bg-dark">.text-white</p>

<hr>

Squares: 
<span class="square5 ml-2 bg-primary d-inline-block"></span>
<span class="square10 ml-2 bg-secondary d-inline-block"></span>
<span class="square15 ml-2 bg-success d-inline-block"></span>
<span class="square20 ml-2 bg-danger d-inline-block"></span>
<span class="square25 ml-2 bg-warning d-inline-block"></span>
<span class="square50 ml-2 bg-info d-inline-block"></span>
<span class="square100 ml-2 bg-primary d-inline-block"></span>
<span class="square150 ml-2 bg-dark d-inline-block"></span>

<hr>

Circle: 
<span class="circle5 ml-2 bg-primary d-inline-block"></span>
<span class="circle10 ml-2 bg-secondary d-inline-block"></span>
<span class="circle15 ml-2 bg-success d-inline-block"></span>
<span class="circle20 ml-2 bg-danger d-inline-block"></span>
<span class="circle25 ml-2 bg-warning d-inline-block"></span>
<span class="circle50 ml-2 bg-info d-inline-block"></span>
<span class="circle100 ml-2 bg-primary d-inline-block"></span>
<span class="circle150 ml-2 bg-dark d-inline-block"></span>

<hr>

Borders: 
<span class="square50 ml-2 border d-inline-block"></span>
<span class="square50 ml-2 border-top d-inline-block"></span>
<span class="square50 ml-2 border-right d-inline-block"></span>
<span class="square50 ml-2 border-bottom d-inline-block"></span>
<span class="square50 ml-2 border-left d-inline-block"></span>

<hr>

Colored borders: 
<span class="square50 ml-2 border border-primary d-inline-block"></span>
<span class="square50 ml-2 border border-secondary d-inline-block"></span>
<span class="square50 ml-2 border border-success d-inline-block"></span>
<span class="square50 ml-2 border border-danger d-inline-block"></span>
<span class="square50 ml-2 border border-warning d-inline-block"></span>
<span class="square50 ml-2 border border-info d-inline-block"></span>
<span class="square50 ml-2 border border-light d-inline-block"></span>
<span class="square50 ml-2 border border-dark d-inline-block"></span>
<span class="square50 ml-2 border border-white d-inline-block"></span>

<hr>

Remove borders: 
<span class="square50 ml-2 border border-danger d-inline-block"></span>
<span class="square50 ml-2 border border-top-0 border-danger d-inline-block"></span>
<span class="square50 ml-2 border border-right-0 border-danger d-inline-block"></span>
<span class="square50 ml-2 border border-bottom-0 border-danger d-inline-block"></span>
<span class="square50 ml-2 border border-left-0 border-danger d-inline-block"></span>

<hr>

Borders radius: 
<img src="https://via.placeholder.com/75" alt="https://via.placeholder.com/75" class="rounded ml-2">
<img src="https://via.placeholder.com/75" alt="https://via.placeholder.com/75" class="rounded-top ml-2">
<img src="https://via.placeholder.com/75" alt="https://via.placeholder.com/75" class="rounded-right ml-2">
<img src="https://via.placeholder.com/75" alt="https://via.placeholder.com/75" class="rounded-bottom ml-2">
<img src="https://via.placeholder.com/75" alt="https://via.placeholder.com/75" class="rounded-left ml-2">
<img src="https://via.placeholder.com/75" alt="https://via.placeholder.com/75" class="rounded-circle ml-2">
<img src="https://via.placeholder.com/75" alt="https://via.placeholder.com/75" class="rounded-0 ml-2">

<hr>

ClearFix: 
<div class="bg-info clearfix">
    <button type="button" class="btn btn-secondary float-left">Example Button floated left</button>
    <button type="button" class="btn btn-secondary float-right">Example Button floated right</button>
</div>

<hr>

Floats:
<div class="float-left">Float left on all viewport sizes</div><br>
<div class="float-right">Float right on all viewport sizes</div><br>
<div class="float-none">Don't float on all viewport sizes</div>

<hr>

Width:
<div class="w-25 p-3" style="background-color: #eee;">Width 25%</div>
<div class="w-50 p-3" style="background-color: #eee;">Width 50%</div>
<div class="w-75 p-3" style="background-color: #eee;">Width 75%</div>
<div class="w-100 p-3" style="background-color: #eee;">Width 100%</div>

<!-- <hr>

Max-width:
<img class="mw-100" src="https://via.placeholder.com/300x100?text=En+Voiture+Simone" alt="Max-width 100%"> -->

<hr>

Height:
<div style="height: 100px; background-color: rgba(255,0,0,0.1);">
    <div class="h-25 d-inline-block" style="width: 120px; background-color: rgba(0,0,255,.1)">Height 25%</div>
    <div class="h-50 d-inline-block" style="width: 120px; background-color: rgba(0,0,255,.1)">Height 50%</div>
    <div class="h-75 d-inline-block" style="width: 120px; background-color: rgba(0,0,255,.1)">Height 75%</div>
    <div class="h-100 d-inline-block" style="width: 120px; background-color: rgba(0,0,255,.1)">Height 100%</div>
</div>

<hr>

Horizontal centering:
<div class="bg-success mx-auto text-center" style="width: 200px;">
    Centered element
</div>