.card {
    min-height: 250px;
    max-height: 500px;
    box-shadow: 0 0 6px 0 black;
    display: flex;
    align-items: center; 		// vertical
    justify-content: center;	// horizontal
    padding: 2em;
    margin: 1em;
}