/* Primary Styles */
h1 {
    font-size: 1.4em;
}

em {
    font-style: normal;
}

span {
    color: inherit;
} 

/* vars */
$fullNavSize: 12em;
$mediumNavSize: 12em;
$navSize: 12em;

/* Layout */
.s-layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.s-layout__content {
    display: flex;
    justify-content: left;
    align-items: start;
    flex: 1;
    padding: 1em;
    padding-top: 5em;
}

/* Sidebar */
.s-sidebar__trigger {
    z-index: 2;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    background: #192b3c;
}

.s-sidebar__trigger > i {
    display: inline-block;
    margin: 1.5em 0 0 1.5em;
    color: #f07ab0;
}

.s-sidebar__trigger > em {
    color: white;
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 1em;
    font-size: 1.2em;
    font-weight: 700;
    color: rgba(255, 255, 255, .85);
    cursor: pointer;
    outline: none;
}

.s-sidebar__nav {
    position: fixed;
    z-index: 999;
    top: 0;
    left: $fullNavSize * -1;
    overflow: hidden;
    transition: all .3s ease-in-out;
    width: $fullNavSize;
    height: 100%;
    background: #243e56;
    font-size: 1em;
    color: rgba(255, 255, 255, .7);
    box-shadow: 4px 0 6px 0 rgba(0, 0, 0 , .1);
}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus + .s-sidebar__nav,
.s-sidebar__trigger:hover + .s-sidebar__nav {
    left: 0;
}

.s-sidebar__nav div {
    position: absolute;
    top: 4em;
    left: 0;
    padding: 0;
    width: $fullNavSize;
}

.s-sidebar__nav div span {
    width: 100%;
    margin-top: .4em;
    outline: none;
}

.s-sidebar__nav-link {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 3em;
    cursor: pointer;
}

.s-sidebar__nav-link em {
    position: absolute;
    top: 50%;
    left: 4em;
    transform: translateY(-50%);
}

.s-sidebar__nav-link:hover {
    background: #4d6276;
    color: white;
}

.s-sidebar__nav-link > i {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 4em;
    height: 3em;
}

.s-sidebar__nav-link > i::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.s-layout__sidebar:hover + .s-layout__content {
    // transform: translateX($fullNavSize);
}

/* Mobile First */
@media (min-width: 42em) {
    .s-layout__content {
        margin-left: 4em;
    }

    /* Sidebar */
    // .s-sidebar__trigger {
    //     width: 4em;
    // }

    // .s-sidebar__trigger > em {
    //     display: none;
    // }

    .s-sidebar__nav {
        width: 4em;
        left: 0;
    }

    .s-layout__sidebar:hover + .s-layout__content {
        // transform: translateX(9em);
    }

    // .s-sidebar__nav:hover,
    // .s-sidebar__nav:focus,
    // .s-sidebar__trigger:hover + .s-sidebar__nav,
    // .s-sidebar__trigger:focus + .s-sidebar__nav {
    //     width: $navSize;
    // }

    // .s-layout__sidebar:hover .s-sidebar__trigger,
    // .s-layout__sidebar:focus .s-sidebar__trigger {
    //     width: $navSize;
    // }
    
}

@media (min-width: 68em) {
    .s-layout__content {
        margin-left: $fullNavSize;
        padding-top: 5em;
    }

    /* Sidebar */
    // .s-sidebar__trigger {
    //     display: none
    // }

    .s-sidebar__nav {
        width: $fullNavSize;
        top: 4em;
    }

    .s-sidebar__nav div {
        // top: 1.3em;
        top: 0;
    }

    .s-layout__sidebar:hover + .s-layout__content {
        // transform: translateX(0);
    }
    

    // .headerLogo {
    //     background-color: #192b3c;
    //     padding: 1em;
    //     display: inline-block;
    //     width: 100%;
    //     font-weight: 700;
    //     padding-left: 1.4em;
    // }
}
