// RESETS CSS
// ---------
// @import "assets/styles/minimalReset3.scss";
// @import "assets/styles/condensedUniversalReset.scss";
// @import "assets/styles/poorMan.scss";
// @import "assets/styles/siolonsGlobal.scss";
// @import "assets/styles/shaunInman.scss";
// @import "assets/styles/yahoo.scss";
// @import "assets/styles/tantek.scss";
// @import "assets/styles/tripoli.scss";
// @import "assets/styles/ericMeyers.scss";
// @import "assets/styles/normalize.scss";
@import "assets/styles/bootstrap.scss";


// UTILITIES
// ---------
@import "assets/styles/utilities.scss";


// ANGULAR HK Fixes
// ----------------

body {
    font-family: 'Roboto', sans-serif;
}

// force width 100% for all components
.s-layout__content > *:not(router-outlet) {
    width: 100%;
}


// Commons Classes
// ---------------

.bloc-example {
    position: relative;
    padding: 65px 20px 20px;
    border-radius: 10px;
    background-color: rgba(0,0,0,.05);
    box-shadow: inset 0 4px 8px rgba(0,0,0,.15);
    margin-bottom: 1em;
    border: 1px solid rgba(0,0,0,.15);
}
.bloc-example:after {
    position: absolute;
    top: 20px;
    left: 15px;
    font-size: 1.2em;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    content: attr(data-example-type);
}
.bloc-example>ion-button, .bloc-example>ion-badge, .bloc-example>.btn, .bloc-example>.btn-group {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: .4em;
}

.tooltip {
    background-color: rgba(255, 255, 255, .9);
    border-radius: 5px;
    border: 2px solid rgba(229, 229, 229, 1);
    padding: 8px;
    position: absolute;
    z-index: 10000;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    font-size: .9em;
}

// DIRECTIVE SLIDER
.dirslider_divSlides {
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 5px;
    transition: margin-left .4s ease-out;

    img {
        width: 100%;
    }
}
.dirslider_slide {
    display: inline-block;
    vertical-align: top;
}
.dirslider_noTransition {
    transition: none !important;
}
.dirslider_divBullets {
    width: 100%;
    padding: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: relative;
    // bottom: 30px;
}
.dirslider_bullet {
    display: inline-block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: lightgray;
    margin-right: 6px;
}
.dirslider_activeBullet {
    background-color: gray;
}
.dirslider_bullet:last-child {
    margin: 0;
}